/*HTML and Body css Start By Ashwin Bhayal : 24/10/2016*/
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
/*HTML and Body css Start By Ashwin Bhayal : 24/10/2016*/
/*Map css Start By Ashwin Bhayal : 24/10/2016*/
#map {
	height: 93%;
	width: 75%;
}
/*Map css Start By Ashwin Bhayal : 24/10/2016*/
/*input type css Start By Ashwin Bhayal : 24/10/2016*/
input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	margin-left: 5%;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 9px 12px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 50%;
}
/*input type css End By Ashwin Bhayal : 24/10/2016*/
/*button type css Start By Ashwin Bhayal : 24/10/2016*/
.button {
	padding: 10px 24px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/*button type css End By Ashwin Bhayal : 24/10/2016*/
.address{
	width:75%;
}
.listofaddress{
	width: 25%;
    float: right;
    overflow: auto;
    height: 610px;
}